In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
# Đọc dữ liệu
df = pd.read_excel("Quality.xlsx")
df.head()

c:\users\hp\appdata\local\programs\python\python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

   Sample 1  Sample 2  Sample 3  Sample 4
0     11.55     11.62     11.91     12.02
1     11.62     11.69     11.36     12.02
2     11.52     11.59     11.75     12.05
3     11.75     11.82     11.95     12.18
4     11.90     11.97     12.14     12.11

In [3]:
# Thông tin bộ dữ liệu
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sample 1  30 non-null     float64
 1   Sample 2  30 non-null     float64
 2   Sample 3  30 non-null     float64
 3   Sample 4  30 non-null     float64
dtypes: float64(4)
memory usage: 1.1 KB

In [4]:
# Mô tả bộ dữ liệu
df.describe()

        Sample 1   Sample 2   Sample 3   Sample 4
count  30.000000  30.000000  30.000000  30.000000
mean   11.958667  12.028667  11.889000  12.081333
std     0.220356   0.220356   0.207171   0.206109
min    11.520000  11.590000  11.360000  11.640000
25%    11.812500  11.882500  11.752500  11.982500
50%    11.955000  12.025000  11.920000  12.080000
75%    12.145000  12.215000  11.997500  12.227500
max    12.320000  12.390000  12.220000  12.470000

### Với mức ý nghĩa 0.01 tiến hành kiểm định chất lượng sản phẩm.

In [6]:
# Tiền xử lý dữ liệu, gom hết dữ liệu của 4 mẫu thành một mảng duy nhất
sample = list()
for i in df.columns:
    sample.extend(df[i].tolist())
print(sample)

[11.55, 11.62, 11.52, 11.75, 11.9, 11.64, 11.8, 12.03, 11.94, 11.92, 12.13, 12.09, 11.93, 12.21, 12.32, 11.93, 11.85, 11.76, 12.16, 11.77, 12.0, 12.04, 11.98, 12.3, 12.18, 11.97, 12.17, 11.85, 12.3, 12.15, 11.62, 11.69, 11.59, 11.82, 11.97, 11.71, 11.87, 12.1, 12.01, 11.99, 12.2, 12.16, 12.0, 12.28, 12.39, 12.0, 11.92, 11.83, 12.23, 11.84, 12.07, 12.11, 12.05, 12.37, 12.25, 12.04, 12.24, 11.92, 12.37, 12.22, 11.91, 11.36, 11.75, 11.95, 12.14, 11.72, 11.61, 11.85, 12.16, 11.91, 12.12, 11.61, 12.21, 11.56, 11.95, 12.01, 12.06, 11.76, 11.82, 12.12, 11.6, 11.95, 11.96, 12.22, 11.75, 11.96, 11.95, 11.89, 11.88, 11.93, 12.02, 12.02, 12.05, 12.18, 12.11, 12.07, 12.05, 11.64, 12.39, 11.65, 12.11, 11.9, 12.22, 11.88, 12.03, 12.35, 12.09, 11.77, 12.2, 11.79, 12.3, 12.27, 12.29, 12.47, 12.03, 12.17, 11.94, 11.97, 12.23, 12.25]

In [7]:
# Mô tả dữ liệu mẫu
new_df = pd.DataFrame(columns = ["sample"], data = sample)
new_df.head()

   sample
0   11.55
1   11.62
2   11.52
3   11.75
4   11.90

In [8]:
new_df.describe()

           sample
count  120.000000
mean    11.989417
std      0.223108
min     11.360000
25%     11.850000
50%     12.000000
75%     12.160000
max     12.470000

##### Dựa vào kết quả phân tích trên, bộ dữ liệu đủ 120 mẫu:
- Giá trị trung bình trên mẫu đúng bằng 12, giống mô tả của khách hàng.
- Phương sai = 0.223108 (sai số so với giá trị trung bình của mẫu dữ liệu) > 0.21. Do đó, khách hàng nên thay đổi lại tuyên bố về sai số của mình.
- Tiến hành kiểm đinh về giá trị trung bình

 Giả thuyết không: khối lượng trung bình của sản phẩm bằng 12.
 
 Giả thuyết đối: khối lượng trung bình của sản phẩm khác 12.
 
 Thực hiện phép kiểm đinh: One Sample T Test.

In [9]:
print(stats.ttest_1samp(sample, 12))

Ttest_1sampResult(statistic=-0.5196355789314843, pvalue=0.6042828222996104)

- Do pvalue > 0.01 nên chấp nhận giả thuyết không.

- Kết luận: Tuyên bố của khách hàng về giá trị trung bình là đúng, nhưng tuyên bố về sai số của sản phẩm là chưa hợp lý.

- Khách hàng nên tuyên bố như sau: Khối lượng sản phẩm trung bình của sản phẩm là 12, với sai số đóng gói trung bình là 0.24 (chiếm khoảng 2%). Hoặc khách hàng cần phải xem lại việc vcvaanj hành để đảm bảo tuyên bố ban đầu.